.example-card {
    max-width: 400px;
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-card img{
    width: unset;/* Here you can use wherever you want to specify the width and also the height of the <img>*/
    margin: unset;
  }