<mat-card class="example-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{ book.title }}</mat-card-title>
    <mat-card-subtitle>{{ book.authors }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="book.smallThumbnail" />
  <mat-card-content>
    <p>{{ book.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="doesExist" mat-button (click)="onAdd()">REMOVE</button>
    <button *ngIf="!doesExist" mat-button (click)="onAdd()">ADD</button>
  </mat-card-actions>
</mat-card>
