<mat-card routerLink="/detail/{{ book.id }}" class="example-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{ book.title }}</mat-card-title>
    <mat-card-subtitle>{{ book.authors }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="book.smallThumbnail" />
  <mat-card-content>
    <div [ngClass]="{ 'show-less': showShortDesciption }">
      <p>{{ book.description }}</p>
    </div>
    <button mat-button (click)="alterDescriptionText()">
      {{ showShortDesciption ? "SEE MORE" : "SEE LESS" }}
    </button>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onAdd()">ADD</button>
  </mat-card-actions>
</mat-card>
